:root {
  --azul-escuro: #001b4a;
  --verde: rgb(0, 121, 0);
}

.fundo-azul-escuro {
  background-color: var(--azul-escuro);
}

/* html,
body {
  background-color: #eaeaea;
} */

.altura-main {
  height: calc(40px - 100vh);
}

.backgroud-input-pesquisar {
  background-color: #d9e0eb70;
}

input[type="checkbox"]:checked {
  content: "✓";
  border: #eaeaea;
}

.checkbox-filtro input[type="checkbox"]:checked {
  background-color: var(--azul-escuro) !important;
}

.checkbox-concluido input[type="checkbox"]:checked {
  background-color: var(--verde) !important;
  border-radius: 50%;
}
.checkbox-concluido input[type="checkbox"] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cor-texto-branco {
  color: white;
}

.container {
  width: 1328px;
}

.backgroud-cor-vermelha {
  background-color: #d40606;
}

.backgroud-cor-verde {
  background-color: var(--verde);
}

.botao-lixeira {
  border: 0;
  background-color: transparent;
  color: #204E9D;
  cursor: pointer;
}
