:root {
  --azul-escuro: #001b4a;
  --verde: rgb(0, 121, 0);
}

.fundo-azul-escuro {
  background-color: var(--azul-escuro);
}

/* html,
body {
  background-color: #eaeaea;
} */

.altura-main {
  height: calc(60px - 100vh);
}

.fundo-cinza-escuro {
  background-color: #d9e0eb70;
}

input[type="checkbox"]:checked {
  content: "✓";
  border: #eaeaea;
}

.checkbox-filtro input[type="checkbox"]:checked {
  background-color: var(--azul-escuro) !important;
}

.checkbox-concluido input[type="checkbox"]:checked {
  background-color: var(--verde) !important;
  border-radius: 50%;
}
.checkbox-concluido input[type="checkbox"] {
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.cor-texto-branco {
  color: white;
}

.container {
  width: 1328px;
  height: calc(100vh - 60px);
  margin: auto;
}

.fundo-cor-vermelha {
  background-color: #d40606;
}

.backgroud-cor-verde {
  background-color: var(--verde);
}

.botao {
  border: 0;
  background-color: transparent;
  color: #204e9d;
  cursor: pointer;
}

.corpo-tabela {
  height: 342px;
  overflow-y: scroll;
}

table {
  table-layout: fixed;
  width: 100%;
}
tbody tr {
  height: 30px !important;
  min-height: 30px;
}
tbody tr td {
  line-height: 30px;
  overflow: hidden;
}
