<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - ListaTarefa</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="css/uikit.min.css" />
    <link rel="stylesheet" href="css/site.css" />
    <script src="js/uikit.min.js"></script>
    <script src="js/uikit-icons.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>

<body>
    <header>
        <nav class="uk-container fundo-azul-escuro uk-width-expand uk-padding-small">
            <div>
                <img src="images/check.png" alt="Check">
            </div>
        </nav>
    </header>
    <div class="altura-main uk-flex uk-flex-center">
        <main role="main" class="altura-main">
            @RenderBody()
        </main>
    </div>
</body>

</html>
